.wrapper {
  font-family: "Lora", serif;
  margin: 5% auto;
  width: 50%;
  height: 100%;
  background-color: rgb(245, 249, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header {
  // .header__title
  &__title {
    text-align: center;
  }
}

.todo {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(231, 244, 255);
  padding: 0.8rem;
  border: #fff solid 2px;
  box-shadow: #fff 0 0 10px;
  border-radius: 7px;

  &__description-task {
    width: 98%;
    border: none;
    resize: none;
    padding: 0.4rem;
    font-size: 1.2rem;
    overflow: hidden;

    &:focus {
      border: none;
      outline: none;
      box-shadow: 0 0 3px rgb(123, 200, 245);
    }
  }
}

.buttons {
  button {
    min-width: 7rem;
    height: 2rem;
    margin: 1rem 0.5rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 3px rgb(255, 0, 0);
    }
  }
  &__back {
  }
  &__save {
  }
}
