.wrapper {
  font-family: "Lora", serif;
  margin: 5% auto;
  width: 50%;
  height: 100%;
  background-color: #f5f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header__title {
  text-align: center;
}

.todo {
  width: 80%;
  margin: 0 auto;
  background-color: #e7f4ff;
  padding: 0.8rem;
  border: #fff solid 2px;
  box-shadow: #fff 0 0 10px;
  border-radius: 7px;
}

.todo__description-task {
  width: 98%;
  border: none;
  resize: none;
  padding: 0.4rem;
  font-size: 1.2rem;
  overflow: hidden;
}

.todo__description-task:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 3px #7bc8f5;
}

.buttons button {
  min-width: 7rem;
  height: 2rem;
  margin: 1rem 0.5rem;
}

.buttons button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px red;
}
