/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ==========================================

html {
  font-size: 18px;
}

.wrapper {
  font-family: "Lora", serif;
  margin: 5% auto;
  width: 50%;
  height: 100%;
  background-color: rgb(245, 249, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.header {
  // .header__title
  &__title {
    text-align: center;
  }
}
.todo {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(231, 244, 255);
  padding: 0.8rem;
  border: #fff solid 2px;
  box-shadow: #fff 0 0 10px;
  border-radius: 7px;

  // .todo__list-item
  &__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // .todo__add-task
  &__add-task {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.7rem;
  }

  // .todo__add-task-input
  &__add-task-input {
    margin-right: 5px;
    width: 90%;
    border-radius: 3px;
    border: none;
    border: solid 1.8px rgb(255, 255, 255);

    &:hover,
    &:focus {
      border: solid 1.8px rgb(104, 182, 104);
      background-color: rgb(239, 255, 228);
    }
  }

  // .todo__add-task-icon
  &__add-task-icon {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 2px 0.4rem;
    border: black 1px solid;
    line-height: 1.35rem;
    background-color: rgb(255, 253, 253);

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 3px rgb(94, 255, 0);
      background-color: rgb(229, 255, 212);
    }
    &:active {
      background-color: rgb(167, 252, 118);
    }
  }
}
.filter {
  text-align: right;
  text-decoration: underline;
  // .filter__all-task
  &__all-task {
    &:hover {
      cursor: pointer;
    }
    &:active {
      text-shadow: 0 0 1px rgb(84, 155, 236);
    }
  }

  // .filter__hide-done-task
  &__hide-done-task {
    margin-left: 0.8rem;

    &:hover {
      cursor: pointer;
    }
    &:active {
      text-shadow: 0 0 1px rgb(84, 155, 236);
    }
  }
}

.list-item {
  margin: 0.3rem;
  // .list-item__icon-is-done-task
  &__icon-is-done-task {
    &:hover {
      cursor: pointer;
    }
  }

  // .list-item__text-task
  &__text-task {
    width: 100%;
    margin: 0 0.3rem;
    padding-left: 0.3rem;
    background-color: #fff;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 3px rgb(24, 252, 16);
    }
  }

  // .list-item__delete-task
  &__delete-task {
    &:hover {
      cursor: pointer;
    }
  }
}

.done {
  text-decoration: line-through;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    min-width: 7rem;
    height: 2rem;
    margin: 1rem 0.5rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 3px rgb(255, 0, 0);
    }
  }
}
