@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 18px;
}

.wrapper {
  font-family: "Lora", serif;
  margin: 5% auto;
  width: 50%;
  height: 100%;
  background-color: #f5f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header__title {
  text-align: center;
}

.todo {
  width: 80%;
  margin: 0 auto;
  background-color: #e7f4ff;
  padding: 0.8rem;
  border: #fff solid 2px;
  box-shadow: #fff 0 0 10px;
  border-radius: 7px;
}

.todo__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo__add-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 0.7rem;
}

.todo__add-task-input {
  margin-right: 5px;
  width: 90%;
  border-radius: 3px;
  border: none;
  border: solid 1.8px white;
}

.todo__add-task-input:hover, .todo__add-task-input:focus {
  border: solid 1.8px #68b668;
  background-color: #efffe4;
}

.todo__add-task-icon {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 2px 0.4rem;
  border: black 1px solid;
  line-height: 1.35rem;
  background-color: #fffdfd;
}

.todo__add-task-icon:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #5eff00;
  background-color: #e5ffd4;
}

.todo__add-task-icon:active {
  background-color: #a7fc76;
}

.filter {
  text-align: right;
  text-decoration: underline;
}

.filter__all-task:hover {
  cursor: pointer;
}

.filter__all-task:active {
  text-shadow: 0 0 1px #549bec;
}

.filter__hide-done-task {
  margin-left: 0.8rem;
}

.filter__hide-done-task:hover {
  cursor: pointer;
}

.filter__hide-done-task:active {
  text-shadow: 0 0 1px #549bec;
}

.list-item {
  margin: 0.3rem;
}

.list-item__icon-is-done-task:hover {
  cursor: pointer;
}

.list-item__text-task {
  width: 100%;
  margin: 0 0.3rem;
  padding-left: 0.3rem;
  background-color: #fff;
}

.list-item__text-task:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #18fc10;
}

.list-item__delete-task:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons button {
  min-width: 7rem;
  height: 2rem;
  margin: 1rem 0.5rem;
}

.buttons button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px red;
}
